

/* Contrôle les styles de la section pour ajouter un commentaire */

.addCommentSection {
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;/* Centre verticalement les éléments */
}

/* Contrôle la largeur et la hauteur du champ de commentaire */
.commentInput {
  width: 89%; /* Largeur du champ de commentaire */
  height: 60px /* Le champ de commentaire prendra autant d'espace disponible que possible */
}
/* Contrôle les styles du bouton "Publier" */

 
  
  .commentButton  {
    cursor: pointer;
  }



/* Contrôle le positionnement vertical du conteneur principal */
.container {
  margin-top: 5rem; /* Marge en haut du conteneur */
  background-color: rgb(223,249,241); /* Couleur de fond */
  height: 100vh; /* Hauteur de la vue à 100% */
  padding-left: 20px; 
}


/* Contrôle le positionnement des éléments à l'intérieur de la ligne */
.row {
 
  align-items: left; /* Centre verticalement les éléments */
 
}

/* Contrôle les styles de la carte de commentaire */
.card {
  margin: 0 auto 1.5rem auto; /* Marge automatique à gauche et à droite pour centrer horizontalement */
  border: none; /* Supprime la bordure */
  box-shadow: 5px 6px 6px 2px #e9ecef; /* Ombre de la carte */
  border-radius: 4px; /* Bord arrondi de la carte */
}

/* Contrôle le positionnement des éléments à l'intérieur du conteneur utilisateur */
.user {
  display: flex; /* Affiche les éléments en ligne */
  align-items: center; /* Centre verticalement les éléments */
}

/* Contrôle les styles du nom d'utilisateur */
.userName {
  font-weight: bold; /* Police en gras */
  color: #030c16; /* Couleur du texte */
}

/* Contrôle les styles du texte du commentaire */
.commentText {
  color: #504e4e; /* Couleur du texte */
  font-size: 16px;
  font-style: italic; /* Style de police en italique */
}

/* Contrôle le style du caractère ':' */
.colon {
  font-weight: bold; /* Police en gras */
}

/* Contrôle le positionnement des éléments dans la section d'ajout de commentaire */
.addCommentSection {
  justify-content: space-between; /* Espacement égal entre les éléments de la ligne */
}

.commentDate {
  font-size: 12px; /* Taille de la police plus petite */
  font-style: italic;
  color: #8d8d8d; /* Style de police en italique */
}
.logoContainer {
  margin-bottom: 20px; // Adjust as needed
}

.logo {
  max-width: 100%; // Ensure the logo doesn't exceed its container's width
  height: auto; // Maintain aspect ratio
}

/* Style du titre des commentaires */
.commentTitle {
  font-size: 20px; /* Taille de la police */
  font-weight: bold; /* Police en gras */
  color: #58c1a3; /* Couleur du texte */
  margin-bottom: 20px; /* Marge inférieure pour l'espace */
  font-style: italic;
}
